@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Tracker</h1>
    <img src="img/movie_reel.png" alt="Movie Reel" width="400" height="400" />
</div>
